body{
    background-color: rgb(31, 20, 37);
    text-align: center;
    color: white;
    font-family: 'Lacquer', cursive;
    height: 1vh;
    
}
h1{
    font-size: 6rem;
    padding-top: 2.5rem;
}
p{
    font-size: 2rem;
}