body{
    background-color: rgb(31, 20, 37);
    text-align: center;
    color: white;
    font-family: 'Lacquer', cursive;
    height: 1vh;
    
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    
}
img{
    height: 30vh;
    width: 18vw;
    object-fit: contain;
    
}

h1{
    font-size: 6rem;
    padding-top: 1.5rem;
}
p{
    font-size: 2rem;
}